.fedi-comment {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-grow: 2;
}
#commentaires-fediverse {
	font-size: 0.8em;
}
#fedi-url-box {
    text-align: center;
}
#commentaires-fediverse .textbox {
    font-size:0.8rem;
    background-color:var(--inner-blocks-bg-color);
    color:var(--inner-blocks-font-color);
    margin:0.5em;
    padding:0.5em;
    border: none;
    width:60%;
}
#commentaires-fediverse .button {
    font-size: 1.0em;
    padding: 0.3em;
    cursor: pointer;
}
.fedi-wrapper {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    flex-direction: row;
}
.fedi-comment .comment {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.fedi-comment .comment-avatar img {
  width: 2rem;
}
.fedi-comment .content {
  flex-grow: 2;
}
.fedi-comment .comment-author {
  display: flex;
  flex-direction: column;
}
.fedi-comment .comment-author-name {
  font-weight: bold;
}
.fedi-comment .comment-author-name a {
  display: flex;
  align-items: center;
}
.fedi-comment .comment-author-date {
  margin-left: auto;
}
.fedi-comment-content p:first-child {
  margin-top: 0;
}
.comment-level {
    max-width: 1.5rem;
    min-width: 1.5rem;
}
.reply-original {
 display:none
}
#fediverseURL {
	background-color:var(--inner-blocks-bg-color);
	border: none;
    color:var(--inner-blocks-font-color);
}
