﻿{{ define "main" }}

<h1>{{ .Title }}</h1>

<p>{{ .Content }}</p>

{{ if eq .Title "Informatique" }}
<div class="card">
<p>
    En plus de tous les articles,
    il y a également une page de notes <a href="{{ .Site.BaseURL }}en-vrac/" title="Liens, notes, astuces en vrac">en vrac</a>,
    et <a href="{{ .Site.BaseURL }}tags/">la liste des tags</a>.
</p>
</div>
{{ end }}

  {{ $pages := .RegularPagesRecursive }}
  {{ range ($pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
    <dl class="card">
      {{ range .Pages }}
          <dt>
              {{ partial "article_title.html" .}}
          </dt>
          <dd>
              {{ partial "metadata.html" .}}
          </dd>
      {{ end }}
    </dl>
    {{ end }}

  {{ partialCached "plus_d_articles.html" . }}

{{ end }}
