{{ define "main" }}

      <h1>Dernières mises à jour</h1>

      <p>Retrouvez ici la liste de tous les articles publiés, triés par date de mise à jour décroissante.</p>

  {{ $pages := .Site.RegularPages  }}
  {{ range ($pages.GroupByLastmod "2006") }}
    <h2>{{ .Key }}</h2>
    <dl class="card">
      {{ range .Pages }}
          <dt>
              {{ partial "article_title.html" .}}
          </dt>
          <dd>
              {{ partial "metadata.html" .}}
          </dd>
      {{ end }}
    </dl>
  {{ end}}

{{ end }}
