{{ define "main" }}

<h1>Bienvenue sur mon humble blog</h1>

<div id="welcome">
    Ici j'écris à propos de choses liées à Lignux et aux logiciels libres,
    du métal (la musique, pas la matière)
    et probablement plus.
    <br/><br/>
    Le tout sans prétention.
</div>

<h2>Les {{ .Site.Params.rss_limit }} derniers articles</h2>
    {{ $site_pages := .Site.RegularPages | first .Site.Params.rss_limit }}
    <dl class="card">
    {{ range $site_pages }}
          <dt>
              {{ partial "article_title.html" .}}
          </dt>
          <dd>
              {{ partial "metadata.html" .}}
          </dd>
      {{ end }}
    </dl>

  {{ partialCached "plus_d_articles.html" . }}

{{ end }}
