﻿{{ define "main" }}

<h1>{{ .Title }}</h1>

<p>{{ .Content }}</p>

{{ if eq .Title "Musique" }}
<div class="card">
    <p>Voici les sous-catégories qui existent :</p>
    <ul class="tags">
      {{ range .Pages.ByTitle }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
      {{ end }}
    </ul>

<p>
    Il y a également une liste
    <a href="{{ .Site.BaseURL }}les-groupes/">des groupes</a>
    qui apparaissent sur ce site (mais pas que).
</p>
</div>
{{ end }}

  {{ $pages := .RegularPagesRecursive }}
  {{ range ($pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
    <dl class="card">
      {{ range .Pages }}
          <dt>
              {{ partial "article_title.html" .}}
          </dt>
          <dd>
              {{ partial "metadata.html" .}}
          </dd>
      {{ end }}
    </dl>
    {{ end }}

  {{ partialCached "plus_d_articles.html" . }}

{{ end }}
