{{ define "main" }}

  <h1>Les articles marqués « {{ .Title }} »</h1>
  {{ range (.Pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
    <dl class="card">
      {{ range .Pages }}
          <dt>
              {{ partial "article_title.html" .}}
          </dt>
          <dd>
              {{ partial "metadata.html" .}}
          </dd>
      {{ end }}
    </dl>
  {{ end}}

  {{ partialCached "plus_d_articles.html" . }}

{{ end }}
