{{ define "main" }}

<h1>{{ .Page.Title }}</h1>

<p>Voici la liste des thèmes abordés sur ce blog.</p>

<section class="card">
    <ul class="tags">
        {{ range .Data.Terms.Alphabetical }}
        {{ if ne .Page.Title "Tags" }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
        {{ end }}
        {{ end }}
    </ul>


</section>

{{ end }}
