{{- $type := .Get "type" -}}
{{- $posts := where site.RegularPages "Type" $type -}}

{{- $titlePostsCount := len ( where $posts ".Params.title"  "!=" nil ) -}}
{{- $microPostsCount := len ( where $posts ".Params.title"  "=" nil ) -}}

{{- $scratch := newScratch -}}
{{- $scratch.Set "longestCount" 0 -}}
{{- $scratch.Set "shortestCount" 100000 -}}
{{- range $posts -}}
  {{- $scratch.Add "wordcount" .WordCount -}}
{{- if ge .WordCount ($scratch.Get "longestCount") -}}
  {{- $scratch.Set "longestPost" . -}}
  {{- $scratch.Set "longestCount" .WordCount -}}
{{- end -}}
{{- if le .WordCount ($scratch.Get "shortestCount") -}}
  {{- $scratch.Set "shortestPost" . -}}
  {{- $scratch.Set "shortestCount" .WordCount -}}
{{- end -}}
{{- end -}}

{{- $postCount :=  len ($posts) -}}
{{- $wordCount := $scratch.Get "wordcount" -}}
{{- $avgPostLength := div $wordCount $postCount -}}
<table class="bands-table">
    <thead>
    <tr>
        <th width="40%">Stat</th>
        <th width="60%">Valeur</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nombre de publications</td>
        <td>{{ $postCount | lang.FormatNumber 0 }}</td>
    </tr>
    <tr>
      <td>Mots écrits</td><td>{{ $wordCount | lang.FormatNumber 0 }}{{ if gt $wordCount 40000 }} (C'est presque {{ (div $wordCount 40000) | lang.FormatNumber 0 }} romans){{ end }}</td>
    </tr>
    <tr>
      <td>Moyenne de mots par publication</td><td>{{ $avgPostLength | lang.FormatNumber 0 }}</td>
    </tr>
    <tr>
      <td>Première publication</td><td>{{ range last 1 $posts }}{{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> le {{ .Date.Format "2006-01-02" }}{{ end }}{{ end }}</td>
    </tr>
    <tr>
      <td>Dernière publication</td><td>{{ range first 1 $posts }}{{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> le {{ .Date.Format "2006-01-02" }}{{ end }}{{ end }}</td>
    </tr>
    <tr>
      <td>Plus longue publication</td><td>{{ with $scratch.Get "longestPost" }}{{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> avec {{ .WordCount }} mots{{ end }}{{ end }}</td>
    </tr>
    <tr>
      <td>Plus courte publication</td><td>{{ with $scratch.Get "shortestPost" }}{{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> avec {{ .WordCount }} mots{{ end }}{{ end }}</td>
    </tr>
    <tbody>
</table>

{{- $grouped := $posts.GroupByDate "2006" -}}

<h3 class="post-stats-hd">Publications par année</h3>
<table class="post-stats-tbl">
    <thead>
    <tr>
        <th width="30%">Année</td><th width="70%">Publications</td>
    </tr>
    </thead>
    <tbody>
    {{- range $grouped.Reverse }} {{ $yearPostCount := len (where .Pages "Type" $type) -}}
    <tr>
        <td>{{ .Key }}</td><td>{{ $yearPostCount | lang.FormatNumber 0 }}</td>
    </tr>
{{- $scratch.Add "yearKeys" "'"  -}} {{- $scratch.Add "yearKeys" .Key  -}} {{- $scratch.Add "yearKeys" "',"  -}} {{- $scratch.Add "yearCount" (string $yearPostCount) -}} {{- $scratch.Add "yearCount" ","  -}}
    {{- end -}}
    </tbody>
</table>

{{- $chartPre := "{type: 'line',data: {labels: [" -}}
{{- $chartYearKeys := trim ($scratch.Get "yearKeys") "," -}}
{{- $chartYearCount := trim ($scratch.Get "yearCount") "," -}}
{{- $chartMid := "],datasets: [{label: 'Publications',data: [" -}}
{{- $chartPost := "],backgroundColor: 'rgb(54, 162, 235)',borderColor: 'rgb(54, 162, 235)',borderWidth: 1}]},options: {maintainAspectRatio: false,scales: {yAxes: [{ticks: {beginAtZero: true-}}]-}}}" -}}


{{- $chartData := printf "%s" $chartPost | printf "%s%s" $chartYearCount | printf "%s%s" $chartMid | printf "%s%s" $chartYearKeys | printf "%s%s" $chartPre | printf "%s" -}}

