{{ $count := .Params | len }}
{{ range .Params }}
    {{ $.Scratch.Add "i" 1 }}
    {{ $i := $.Scratch.Get "i" }}

    {{ if eq . "backslash" }}
    <kbd class="key">&bsol;</kbd>
    {{ else }}
    <kbd class="key">{{ . }}</kbd>
    {{ end }}

    {{ if ne $count $i }}+{{ end }}

{{ end }}
