<form id="search" class="search" role="search">
  <input type="search" id="search-input" class="search-input" placeholder="recherche">
</form>

<div class="nombre-resultats"></div>
<ul class="liste-resultats"></ul>

<script src="/js/lunr-2.3.9.min.js"></script> <!-- lunr.js library -->
<script src="/js/lunr.stemmer.support.min.js"></script>
<script src="/js/lunr.fr.min.js"></script>
<script src="/js/recherche.js"></script>

